
* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --roxo: #8C40E1;
    --verde: #8DC042;
    --cinza: #727272; 
}
body{
    background-color: #fff;
    padding-top: 5vh;
    overflow-x: hidden;  
    width: 100vw;
    box-sizing: border-box;

}
main{
    
}
        /* Header */

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    height: 85px;
    
}

header{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    height: 9vh;
    position: fixed;
    width: 100vw;
    padding-top: 1vh;
    position: fixed;
    z-index: 999;
    
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
}

.nav-list a{
    font-size: 25px;
    font-weight: normal;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 22px;
    margin-right: 22px;
    font-weight: normal;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div { 
    width: 27px;
    height: 2px;
    background:  var(--roxo);
    margin: 5px;
    transition: 0.3s;
}

header a {
    color: var(--roxo);
    text-decoration: none;
    transition: 0.3s;
    
    
    
    
}

#a-header{
    display: none;
}

@media (width <  999px) {


    #h-agende{
      font-size: 14px;
      color: white;
    }
    
    #a-header{
      display: block;
      font-size: 4vw;
      color: rosybrown;
    }

    body {
      overflow-x: hidden;
      
    }
    .nav-list {
      position: absolute;
      top: 6vh;
      right: 0;
      width: 50vw;
      height: 70vh;
      background: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      margin-top: 2vh;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-0px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-2px, -10px);
  }

}

@media (width < 750px){
.nav-list {
    width: 80vw;
}

}

/*   class   */

.titulos{
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 33px;
    font-weight: normal;
}
.div-why{
       width: 70vw; 
}

@media (width < 580px){
.titulos{
    font-size: 26px;
}
}
@media (width < 330px){
.titulos{
    font-size: 23px;
}

}

@media (width < 230px){
    .titulos{
        font-size: 23px;
    }
}

/*   class end  */


/*  Top start  */

#top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#container-top{
   width: 90vw; 
   display:flex ;
   justify-content: center;
}

.div-top > img{
    height: 450px;
    width: 450px;
}

.div-top{
    justify-content: center;

    display: flex;
    flex-direction: column;
    width: 32vw;
}
.div-top h1{
    color: var(--roxo);
    font-size: 40px;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 4px;
}

.div-top h2{
    color: var(--cinza);
    font-size: 25px;
    font-weight: 500;
}
.div-top h3{
    color: var(--cinza);
    font-size: 25px;
    font-weight: normal;
}

.one{
    align-items: left;
}

.two{
    align-items: end;
}

.div-consult{
    background: linear-gradient(#8DC042, #8cce89);;
    border-radius: 30px;
    padding: 12px;
    display: flex;
    width: 350px;
    align-items: center;
    color: #fff;
    justify-content: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.164);
}

.calendar-icons{
    height: 25px;
    margin-right: 10px;
}

.div-consult p {
    margin-top: 4px;
}

@media (width < 1800px){
    .div-top{
        width: 30vw;
    }
}

@media (width < 1530px){
    .div-top{
        width: 33vw;
    }
}

@media (width < 1270px){
    .div-top{
        width: 36vw;
    }
    header nav {
        width: 100vw; 
    }
}

@media (width < 1140px){
    .div-top{
        width: 36vw;
    }
    .div-top > img {
        height: 400px;
        width: 400px;
    }
    .div-top h1 {     
        font-size: 40px;
    }
    .div-top h2 {     
        font-size: 20px;
    }
    .div-top h3 {     
        font-size: 20px;
    }

    .div-consult {
        width: 300px;
    }

}

@media (width < 999px){
    .div-top {
        width: 45vw;
    }
    .div-top > img {
        height: 360px;
        width: 360px;
    }
}

@media (width < 750px){
   #container-top{
    flex-direction:column-reverse; 
    align-items: center;

   }

   .two{
    margin-bottom: 50px;
   }

   .logo{
    height: 70px;
   }

   .div-top{
    width: 99vw;
    align-items: center;
   }

}

@media (width < 450px){
    .div-top h1 {
        font-size: 35px;
    }
    .div-consult {
        width: 285px;
    }
    .div-consult {
        margin-top: 30px;   
    }
}

@media (width < 360px){
    .div-top > img {
        height: 330px;
        width: 330px;
    }

    .logo{
        height: 60px;
    }
}

@media (width < 330px){
    .div-top h1 {
        font-size: 30px;
    }  
    .div-top h2 {
        font-size: 18px;
    }  
    .div-top h3 {
        font-size: 18px;
    }  
    .div-consult {
        width: 80vw;
    }

    .div-top > img {
        height: 300px;
        width: 300px;
    }
}

@media (width < 330px){
    .div-top h1 {
        font-size: 30px;
    }  
    .div-top h2 {
        font-size: 18px;
    }  
    .div-top h3 {
        font-size: 18px;
    }  
    .div-consult {
        width: 80vw;
    }

    .div-top > img {
        height: 270px;
        width: 270px;
    }
}

@media (width < 270px){
    .div-top{
        text-align: center;
    }
    .p-consult{
        font-size: 12px;
    }
    .div-top > img {
        height: 230px;
        width: 230px;
    }
    .div-top h1 {
        font-size: 25px;
    }

    .div-consult {
        padding: 6px;
    }
}

@media (width < 210px){
    .div-top > img {
        height: 230px;
        width: 95vw;
    }
}

/*   Top end   */

/*   why start   */

#why{
    background-color: var(--roxo);
    margin-top: -15px;
    margin-bottom: -15px;
    color: #fff;
}

#wave1{
    width: 100vw;
}

#wave2{
    width: 100vw;
}

#container-why{
    background-color: var(--roxo);
    padding-top: 50px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-why{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 19vw;
    justify-content: center;
    padding: 20px;
}

.div-why img{
    margin-bottom: 20px
}

.div-why h3{
    margin-bottom: 10px
}


@media (width < 1250px){
    .div-why{
       width: 26vw; 
    }
}

@media (width < 870px){
    .div-why{
       width: 30vw; 
    }
}

@media (width < 750px){
    .div-why{
       width: 70vw; 
    }

    #container-why{
        flex-direction: column;
    }

    #why{
        padding-top: 40px;
        padding-bottom: 20px;
        
    }

    #top{
        margin-bottom: 80px;
    }

}

@media (width < 330px){
    .div-why{
        width: 90vw; 
     }

     .div-why h3 {
        font-size: 18px;
    }
}



/*   why end   */

/* start about */

#about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#about .titulos{
    color: var(--verde);
    margin-top: 60px;
}



#container-about{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.text-about{
    width: 25vw;
    font-size: 21px;
    color: var(--cinza);
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-content-about h1{
    color: var(--verde);
    font-weight: normal;
    text-align: left;
    font-size: 29px;
}

.div-about{
    padding: 90px;
}

.div-consults{
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    color: var(--cinza);
}

.div-consults img{
    height: 40px;
    width: 33px;
}

.div-consults p{
    font-size: 20px;
    margin-left: 10px;
   
}
@media (width < 999px){
    .div-about{
        padding: 45px;
    }
    .text-about {
        width: 35vw;
    }
}

@media (width < 830px){
    .div-about{
        padding: 10px;
    }
    .text-about {
        width: 38vw;
    }
}

@media (width < 750px){
    #container-about{
        flex-direction: column;
    }
    #container-about {
        align-items: start;
       
    }
    .text-about {
        width: 70vw;
    }
}

@media (width < 550px){
    .text-about {
        width: 80vw;
    }

    #img-about{
        height: 350px;
        width: 350px;
    }
    .div-about{
        width: 90vw;
    }
    .about-two{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (width < 450px){

    #img-about{
        height: 300px;
        width: 300px;
        margin-top: 20px;
    }
    #about{
        align-items: normal;
    }
    #container-about {
        width: 99vw;
    }
    .text-about {
        width: 85vw;
    }
    
}

@media (width < 380px){
    
    .text-about {
        width: 93vw;

    }

    #img-about{
        height: 250px;
        width: 250px;
        
    }


}

@media (width < 300px){
    #img-about{
        height: 210px;
        width: 210px;
        
    }
    .div-consults p {
        font-size: 18px;
        
    }
    .div-consults img {
        height: 31px;
        width: 27px;
    }
    .div-about {
        padding: 0px;
    }
}

/* end about */

/* start especialties */

#specialties{
    margin-top: 80px;
}


#specialties h1{
    color: var(--roxo);
    margin-bottom: 50px;
}


#container-specialties{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-specialties{
    background-color: var(--roxo);
    border-radius: 25px;
    padding: 30px;
    width: 12vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

.div-specialties img{
    height: 66px;
    width: 72px;
}

.div-specialties h2{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

@media (width < 1250px){
    .div-specialties{
        width: 19vw;
        height: 9vw;
        margin: 23px;
    }
}

@media (width < 1250px){
    .div-specialties{
        padding: 40px;
        margin: 20px;
    }
}

@media (width < 750px){
    #container-specialties{
        flex-direction: column;
    }
    .div-specialties {
        width: 35vw;
        height: 16vw;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (width < 500px){
    .div-specialties h2 {
      font-size: 20px;
    }
    .div-specialties img {
        height: 46px;
        width: 52px;
    }

    .div-specialties {
        width: 45vw;
        height: 20vw;
    }
  }
  

@media (width < 400px){
  .div-specialties h2 {
    font-size: 20px;
  }

.div-specialties {
    width: 50vw;
    height: 20vw;   
}
 
}

@media (width < 250px){
    .div-specialties img {
        height: 50px;
        width: 60px;
    } 
}

@media (width < 200px){
    .div-specialties h2 {
      font-size: 18px;
  }
  
  .div-specialties {
      width: 55vw;
      height: 24vw;
     
  }
   
  }




/* end especialties */




